{{ define "main" }}
<div class="is-two-thirds maincontent">
  <main>
    <h1 style="margin-bottom: 0px;"> {{.Title}} free alternatives </h1>
    <p> List of free alternatives to {{.Title}} for developer. 
      Find other service for {{ delimit .Params.tags ", "}} other than {{.Title}}. 
      You can also find out what is {{.Title}} rival or {{.Title}} competitor in here.</p>

    <section>
      <br>
      {{ $titleHolder := .Title}}
      {{ $filterStuff := where .Site.RegularPages "Type" "stuff" }}

      {{ range .Params.tags }}
        {{ $tagTitle := . }}
        {{ $tagTitleWithSpace := print " " $tagTitle}}
        
        <h2 style="margin-bottom: 0px;">👉🏽 {{ $titleHolder }} alternatives as a {{ $tagTitle }} tool</h2>
        <p style="margin-top: -5px;">Are you looking for {{ $titleHolder }} alternative as a {{$tagTitle}} tool? Here is the list of {{$titleHolder}}'s competitor or rival as a {{$tagTitle}} service with their free offers.</p>

        {{ range $key, $val := $filterStuff}}
            {{ if or (in .Params.tags $tagTitleWithSpace) (in .Params.tags $tagTitle) (in .Params.tags (upper $tagTitle)) }}
              {{ if ne $val.Title $titleHolder }}
              
              <br>
              <h3>{{ $val.Title }} VS {{ $titleHolder }}</h3>
              {{ partial "stuff-cards.html" . }}
              
              {{ end }}
            {{ end }}
        {{ end }}
        <br>
      {{ end }}
    </section>

    <section>
      <br><hr>
      <h2> Information about {{.Title}} </h2>
      {{ partial "stuff-cards.html" . }}
    </section>

  </main>
</div>
</div> <!-- end flex -->

{{ end }}