<section class="sponsors mb-10">
    <div class="flex justify-between">
        <p class="text-xl">SPONSORS 🙏🏽</p>

        <details>
            <summary>Want to be a sponsor?</summary>
            <a href="https://twitter.com/hilmanski" 
            target="_blank"
            class="text-cebter text-gray-200 hover:text-gray-100 p-3 border border-dashed rounded-xl block mb-10"
            >
            Showcase your product to developers all around the world. DM me at Twitter @hilmanski
            </a>
        </details>
    </div>

 

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
        <a href="https://htmlrev.com" target="_blank" rel="sponsored">
            <img 
                src="/banner/htmlrev-free-html-templates.webp" 
                alt="HTMLREV banner" 
                class="h-[155px] w-full rounded-lg hover:animate-pulse" 
                height="155"
                />
            <p class="mt-3 pl-3 border-l border-l-gray-300  text-gray-200 text-sm">HTMLrev - 1500+ free HTML templates for web developers</p>
        </a>
        <a href="https://templated.io" target="_blank" rel="sponsored">
            <img 
                src="/banner/templated-banner.webp" 
                alt="Templated banner" 
                class="h-[155px] w-full rounded-lg hover:animate-pulse" 
                height="155"
                />
            <p class="mt-3 pl-3 border-l border-l-gray-300  text-gray-200 text-sm">Templated - Generate social media visuals, banners, PDFs and more with a simple API</p>
        </a>
        <a href="https://www.aimlapi.com/?utm_source=freestuffdev" target="_blank" rel="sponsored">
            <img 
                src="/banner/aiml-api-banner.jpg" 
                alt="AI/ML API banner" 
                class="h-[155px] w-full rounded-lg hover:animate-pulse" 
                height="155"
                />
            <p class="mt-3 pl-3 border-l border-l-gray-300  text-gray-200 text-sm">AI/ML API - Access 100+ AI Models with a Single API: Your 24/7 AI Solution</p>
        </a>
    </div>
</section>



        
<!-- <a href="https://twitter.com/hilmanski" target="_blank">
    <img src="/banner/add-your-product.webp" alt="Cloudflare" class="w-full rounded-lg hover:animate-pulse" />
    <p class="mt-2 text-gray-200 text-sm">Showcase your product to developers all around the world. DM me at @hilmanski</p>
</a> -->