    <footer>
        <p>
            {{ if not .IsHome }}
                 <a href="/"> < FreeStuff.Dev </a>
            {{ end }}
                / <a href="/blog"> Blog </a>
                <!-- / <a href="https://eepurl.com/gmnhpb" target="_blank"> Subscribe mailist </a> -->
                / <a href="/sitemap.xml">Sitemap</a>
                / <a class="twitter-follow-button" target="_blank" href="https://twitter.com/onebite_dev" data-size="large"> Follow @onebite_dev</a>
        </p>
    </footer>

    {{ $mainJs := resources.Get "/js/main.js" | js.Build "main.js" | minify }}
    <script src="{{ $mainJs.Permalink }}"></script>
</body>
</html>