
    <footer>
        <p>
            {{ if not .IsHome }}
                 <a href="/"> < FreeStuff.Dev </a>
            {{ end }}
                / <a href="/blog"> Blog </a>
                <!-- / <a href="https://eepurl.com/gmnhpb" target="_blank"> Subscribe mailist </a> -->
                / <a class="twitter-follow-button" target="_blank" href="https://twitter.com/freestuffdev" data-size="large"> Follow @freestuffdev</a>
        </p>
    </footer>

    <script>
    //lazy loading image
    var lazyImg = document.querySelectorAll('img[data-src]');

    lazyLoad();
    window.onscroll = function() { lazyLoad(); }

    function lazyLoad() {
        for(var i=0; i<lazyImg.length; i++){
            if(isElementInViewport(lazyImg[i])){
                if (lazyImg[i].getAttribute('data-src')){
                    lazyImg[i].src = lazyImg[i].getAttribute('data-src');
                    lazyImg[i].removeAttribute('data-src');
                }
            }
        }
        cleanLazyImage();
    }

    function isElementInViewport (el) {
        var rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }

    function cleanLazyImage() {
        lazyImg = Array.prototype.filter.call(
                lazyImg, function(l){
                    return l.getAttribute('data-src');
                 }
        );
    }
    </script>
</body>
</html>