<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ if eq .Kind "term" }} Free {{ .Title }} for dev {{ else }}{{ .Title }}{{ end }} </title>
    <meta name="description" content='{{ if eq .Kind "term" }} List of free {{ .Title }} for developer {{else}}{{ if .Description }} {{ .Description }} {{ else }} {{ .Site.Params.Description }} - {{ .Title }} {{ end }} {{ end }}' property="og:description">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@freestuffdev" />
    <meta name="twitter:creator" content="@freestuffdev" />
    <meta property="og:url" content=" {{ .Permalink }}" />
    <meta property="og:title" content='{{ if eq .Kind "term" }}Free {{ .Title }} for dev{{ else }}{{ .Title }}{{ end }}' />
    <meta property="og:description" content='{{ if eq .Kind "term" }} List of free {{ .Title }} for developer {{else}}{{ if .Description }} {{ .Description }} {{ else }} {{ .Site.Params.Description }} - {{ .Title }} {{ end }} {{ end }}' />
    <meta property="og:image" content="{{if .Params.image}}{{.Params.image}}{{else}}https://res.cloudinary.com/wegoatdev/image/upload/v1623795832/freestuffdev/logo-freedevstuff.png{{end}}" />

    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
       <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WZMS2R34S4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WZMS2R34S4');
    </script>

</head>
<body class="darkmode">
    <header>
        <div id="brand">
            <img src="https://res.cloudinary.com/wegoatdev/image/upload/v1623795832/freestuffdev/logo-freedevstuff.png" alt="logo we goat dev" height="100" width="100" class="is-avatar">
            <div>
                <a href='/'> {{ .Site.Title }} </a>
                <p>{{ .Site.Params.description }}</p>
            </div>
        </div>

        <div id="theme">
            <div onclick="setDarkMode(true)" id="darkBtn" class=""> 🌚  <span>Dark</span></div>
            <div onclick="setDarkMode(false)" id="lightBtn" class="is-hidden"> 🌝 <span>Light</span> </div>
        </div>

        <script>
            //check localstorage
            if(localStorage.getItem('preferredTheme') == 'dark') {
                setDarkMode(true)
            }

            function setDarkMode(isDark) {
                var darkBtn = document.getElementById('darkBtn')
                var lightBtn = document.getElementById('lightBtn')

                if(isDark) {
                    lightBtn.style.display = "block"
                    darkBtn.style.display = "none"
                    localStorage.setItem('preferredTheme', 'dark');
                } else {
                    lightBtn.style.display = "none"
                    darkBtn.style.display = "block"
                    localStorage.removeItem('preferredTheme');
                }

                document.body.classList.toggle("darkmode");
            }
        </script>
    </header>

    <!-- {{ if eq .Section "blog" }}
    <nav class="tags">
        {{ range $name, $taxonomy :=  .Site.Taxonomies.tags }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                <li><a class="tags-{{ $name }}"  href="{{ .Permalink }}">{{ $name }}</a></li>
            {{ end }}
        {{ end }}
    </nav>
    {{ end }} -->
