<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ if eq .Kind "term" }} Free {{ .Title }} service for dev {{ else }}{{ .Title }}{{ end }} </title>
    <meta name="description" content='{{ if eq .Kind "term" }} List of free {{ .Title }} service for developer {{else}}{{ if .Description }} {{ .Description }} {{ else }} {{ .Site.Params.Description }} - {{ .Title }} {{ end }} {{ end }}' property="og:description">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@freestuffdev" />
    <meta name="twitter:creator" content="@freestuffdev" />
    <meta property="og:url" content=" {{ .Permalink }}" />
    <meta property="og:title" content='{{ if eq .Kind "term" }}Free {{ .Title }} service for dev{{ else }}{{ .Title }}{{ end }}' />
    <meta property="og:description" content='{{ if eq .Kind "term" }} List of free {{ .Title }} service for developer {{else}}{{ if .Description }} {{ .Description }} {{ else }} {{ .Site.Params.Description }} - {{ .Title }} {{ end }} {{ end }}' />
    <meta property="og:image" content="{{if .Params.image}}{{.Params.image}}{{else}}https://res.cloudinary.com/wegoatdev/image/upload/v1623795832/freestuffdev/logo-freedevstuff.png{{end}}" />

    {{ $style := resources.Get "/sass/main.sass" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
       <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WZMS2R34S4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WZMS2R34S4');
    </script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>


<body class="darkmode">
    <header class="flex flex-mobile is-space-between is-align-items">
        <div class="flex flex-mobile is-space-between is-align-items">
            <img src="https://i.ibb.co/qRXK9gd/logo-freedevstuff.png" alt="logo we goat dev" height="100" width="100">
            <div>
                <b> <a href='/'> {{ .Site.Title }} </a></b>
                <p>{{ .Site.Params.description }}</p>
            </div>
        </div>
        <nav>
            <a class="button" href="/new-stuff">New+|</a>
            <a href="https://twitter.com/freestuffdev" target="_blank">Twitter|</a>
            <a href="https://ko-fi.com/hilmanski" target="_blank">Donate</a>
            <span id="darkModeBtn"> 🌝 </span>
        </nav> 
    </header>

 
