 <div class="">
    <input type="search" oninput="setTimeout(function(){ liveSearch(); }, 500);" 
            id="searchbox" placeholder="Live search keyword..">
</div>    

<script>
function liveSearch() {

    let cards = document.querySelectorAll('#card-list .cards')
    let search_query = document.getElementById("searchbox").value;
    
    for (var i = 0; i < cards.length; i++) {
        if(cards[i].innerText.toLowerCase()
                .includes(search_query.toLowerCase())) {
            cards[i].classList.remove("is-hidden");
        } else {
            cards[i].classList.add("is-hidden");
        }
    }
}
</script>