  <div class="cards sponsor">
    <span class="pin-right label text-small">sponsor</span>
    <a class="flex flex-mobile" href="https://deta.sh?ref=freestuffdev" 
        target="_blank">
        <img src="https://ik.imagekit.io/kodingclub/freestuffdev/stuff/detalogo-removebg-preview_D1LxAe4u5.png?updatedAt=1627288680851" alt="Deta SH Logo" style="min-width: 50px; width: 50px; height: 50px;" />
        <div>
            <p class="title"> <b>Deta - </b> The free cloud for hackers.</p>
            <p class="on-desktop-only"> Deploy unlimited Python & Node.js apps for free. 
            Includes unlimited databases and 10GB of cloud storage for free</p>
            <p class="on-mobile-only">Deploy unlimited Python & Node.js apps for free.</p>
        </div>
    </a>
</div> 