<div class="cards">
    <div class="flex is-space-between is-align-items">
        <div class="flex flex-on-mobile is-two-thirds">
            {{ if .Params.Thumbnail }}
            <img src="{{ .Params.Thumbnail }}" 
                  loading="lazy" 
                   alt="Logo {{.Title}}" 
                   width="80" 
                   height="auto"
                   onerror="this.classList.add('is-hidden')">
            {{ end }}
            <div>
                <h3 class="title"> <a href="{{ .Params.Link }}?ref=freeStuffDev" target="_blank"> {{.Title}} </a></h3>
                <p>{{ .Params.Snippet }}</p> 

        <p class="mt-20"> <em>
        Tag: {{delimit .Params.tags ", "}}
        </em></p>
            </div>
        </div>
        
        {{ if ne .Content "" }}<div class="offerlist"><small><b>Free Offer:</b> {{.Content}} </small></div>{{end}}
    </div>
    <br>

    <!-- Get slug from this format: url.com/nice/test/ -->
    {{ $splitLinks := split .Permalink "/"}}
    {{ $slug := index (last 2 $splitLinks) 0 }}

    <div style="text-align:right;"> 
        <a class="link" href="#" class="save-link" onclick="save(event, {{ $slug }})">Save</a> &nbsp;
        <a class="link" href="{{ .Permalink }}">Alternatives</a> &nbsp;
        <a class="link" href="https://github.com/hilmanski/freeStuffDev/edit/main/content/{{ .File.Path }}" target="_blank">Edit</a> &nbsp;
        <a class="link" target="_blank" href="{{ .Params.Link }}?ref=freeStuffDev">Visit Link</a>
    </div>
</div>