<div class="flex flex-mobile">
    <section id="filter-tag" class="is-half">
        <details>
            <summary class="marginless" style="font-size: 1.2rem;">Filter: </summary>
            <ul class="tags">
                {{ range where .Site.Taxonomies.tags "Section" "stuff" }}
                    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
                {{ end }}
            </ul>
        </details>
    </section>  

    <div class="is-half">
        
        <input type="search" oninput="setTimeout(function(){ liveSearch(); }, 500);" id="searchbox" placeholder="Search..">
        <script>
            function liveSearch() {

                let cards = document.getElementsByClassName('cards')
                let search_query = document.getElementById("searchbox").value;
                
                console.log(search_query)

                for (var i = 0; i < cards.length; i++) {
                    if(cards[i].innerText.toLowerCase()
                            .includes(search_query.toLowerCase())) {
                        console.log('here..')
                        cards[i].classList.remove("is-hidden");
                    } else {
                        console.log('there..')
                        cards[i].classList.add("is-hidden");
                    }
                }
            }
        </script>
    </div>
</div>
<br>

<main>
    <div class="v-distance">
    {{ if eq .Kind "term" }}
        <h1> Free {{ .Title }} service for developer </h1> <br>

        {{ range where .Pages "Type" "stuff" | shuffle}}
            {{ partial "stuff-cards.html" . }}
        {{ end }}

    {{ else }}
       {{ range where .Site.RegularPages "Type" "stuff"}}
            {{ partial "stuff-cards.html" . }}
        {{ end }}
    {{ end }}

    </div>
</main>
</div>
