<div class="flex">
    <div class="is-one-third pr-5">
        <p>
        <em>List of free {{ if eq .Kind "term" }} {{ .Title }} {{end}} stuff, {{ if eq .Kind "term" }} {{ .Title }} {{end}} tool or {{ if eq .Kind "term" }} {{ .Title }} {{end}} services for developer by developer to use.
        Some services free forever or have a free tier at least for 1 year</em>
        </p>

        <div class="on-mobile-only">
            <br>
            {{ partial "sponsor.html" . }}
            <br>
        </div>

        <section class="on-mobile-only" id="filter-tag" style="text-align:right;">
            <hr>
            <details>
                <summary class="marginless" style="font-size: 1.2rem;">Filter Category: </summary>
                <ul class="tags">
                    <li><a href="/">All</a></li>
                    {{ range where .Site.Taxonomies.tags "Section" "stuff" }}
                        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
                    {{ end }}
                </ul>
            </details>
            <hr>
        </section>  
        <br>

        <div class="on-mobile-only">
            <br>
        </div>

        <div>
            <input type="search" oninput="setTimeout(function(){ liveSearch(); }, 500);" id="searchbox" placeholder="Live search keyword..">
        </div> 

        <div class="on-desktop-only">
          <br>
          <p>Filter by tag</p> <br>
          <ul class="tags">
            <li><a href="/">All</a></li>
            {{ range where .Site.Taxonomies.tags "Section" "stuff" }}
                <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
            {{ end }}
        </ul>
        </div>       
    </div>

    <div class="is-two-third">
        <main>
            <div class="v-distance">
                <div class="on-desktop-only">
                    {{ partial "sponsor.html" . }}
                </div>

            {{ if eq .Kind "term" }}
                <h1>List of free {{ .Title }} tool/service for developer 👇🏽 </h1>
                <div id="card-list" class="v-distance">
                {{ range where .Pages "Type" "stuff" | shuffle}}
                    {{ partial "stuff-cards.html" . }}
                {{ end }}
                </div>

            {{ else }}
                <h1>Free Dev Tool/Services for developer 👇🏽</h1>
                <div id="card-list" class="v-distance">
                   {{ range where .Site.RegularPages "Type" "stuff"}}
                        {{ if le .Params.Date.Unix now.Unix }}
                            {{ partial "stuff-cards.html" . }}
                        {{ end }}
                    {{ end }}
                </div>
            {{ end }}

            </div>
        </main>


            <script>
                function liveSearch() {

                    let cards = document.getElementsByClassName('cards')
                    let search_query = document.getElementById("searchbox").value;
                    
                    console.log(search_query)

                    for (var i = 0; i < cards.length; i++) {
                        if(cards[i].innerText.toLowerCase()
                                .includes(search_query.toLowerCase())) {
                            console.log('here..')
                            cards[i].classList.remove("is-hidden");
                        } else {
                            console.log('there..')
                            cards[i].classList.add("is-hidden");
                        }
                    }
                }
            </script>
    </div>
</div>


