<div class="cards">
    <div class="flex is-space-between is-align-items">
        <div class="flex flex-on-mobile is-two-thirds">
            <img src="{{ .Params.Thumbnail }}" loading="lazy" alt="Logo {{.Title}}" width="80" height="auto">
            <div>
                <h3 class="title"> <a href="{{ .Params.Link }}?ref=freeStuffDev" target="_blank"> {{.Title}} </a></h3>
                <p>{{ .Params.Snippet }}</p> 

        <p class="mt-20"> <em>
        Tag: {{delimit .Params.tags ", "}}
        </em></p>
            </div>
        </div>
        
        {{ if ne .Content "" }}<div class="offerlist"><small><b>Free Offer:</b> {{.Content}} </small></div>{{end}}
    </div>
    <br>
    <div style="text-align:right;">
        <a class="link" href="{{ .Permalink }}">Alternatives</a> &nbsp;
        <a class="link" href="https://github.com/hilmanski/freeStuffDev/edit/main/content/{{ .File.Path }}" target="_blank">Edit</a> &nbsp;
        <a class="link" target="_blank" href="{{ .Params.Link }}?ref=freeStuffDev">Visit Link</a>
    </div>
</div>