---
import AllTags from '../components/AllTags.astro'
---

<header id="sidebar" class="overflow-y-scroll h-full z-10">
    <div class="flex md:block items-start">
        <a href="/">
        <img 
            class="rounded-xl mb-5 w-[100px] md:w-[250px]"
            src="/freestuffdev-logo.webp" 
            alt="Free Stuff for developer illustration"
            title="Free Stuff for developer illustration" />
        </a>

        <div class="ml-5 md:ml-0">
            <p class="text-2xl">
                <a href="/">
                    Free Stuff for Developer
                </a>
            </p>
            <p class="italic">Find any tools or services that free for developer to use</p>
        </div>
    </div>

    <nav class="flex space-x-3 my-5">
        <a class="border border-rose-300 hover:bg-rose-400 hover:text-white py-1 px-3 rounded-lg" href="/submit">Submit+</a>
        <a class="border border-rose-300 hover:bg-rose-400 hover:text-white py-1 px-3 rounded-lg" href="/favorites">Saved</a>
    </nav>

    <AllTags />

    <!-- <div class="mt-10">
        <p class="mb-2">Sponsors</p>

        <a href="https://htmlrev.com"
            rel="sponsored">
            <img src="/banner/htmlrev.jpg" alt="HTMLRev banner">
        </a>
    </div> -->
</header>
