---
import AllTags from '../components/AllTags.astro'
---

<aside class="min-w-[400px] w-1/5 px-10 pt-10 
            fixed bg-slate-900 min-h-[100%]">
    
    <a href="/">
    <img 
        class="rounded-xl mb-5"
        src="/freestuffdev-logo.webp" 
        alt="Free Stuff for developer illustration"
        title="Free Stuff for developer illustration" />
    </a>

    <div class="my-5">
        <p class="text-2xl">
            <a href="/">
                Free Stuff for Developer
            </a>
        </p>
        <p class="italic">Find any tools or services that free for developer to use</p>
    </div>

    <nav class="flex justify-between my-5">
        <a href="">Submit+</a>
        <a href="/favorites">Saved</a>
        <a href="https://github.com/hilmanski/freeStuffDev/">GitHub</a>
        <a href="https://twitter.com/fullofdev">Twitter</a>
    </nav>


    <AllTags />
</aside>
