{{ define "main" }}
<div class="is-two-thirds maincontent">
  <main>

    <style>
        main {
            font-size: 1.2rem;
            line-height: 2rem;
        }
        ul, ol {
            list-style-position: inside;
        }
    </style>

    <div class="v-distance">
        <h1>Code of Conduct - FreeStuff.dev</h1>
        <p>
            FreeStuffDev is open for contribution from all people around the world. Whoever your are and whatever your background: nationality, gender, religion, we welcome you.
        </p>
        <br>
        <p>Things to keep in mind:</p>
        <ul>
            <li>Show empathy</li>
            <li>Be patient</li>
            <li>Accept constructive feedback</li>
        </ul>
        <br>
        <p>If you have any questions, feel free to reach out at <a href="https://twitter.com/hilmanski">@hilmanski</a> </p>
    </div>
</main>
</div>
</div>
{{ end }}