{{ define "main" }}
<div class="is-two-thirds maincontent" id="hidden">
    <main class="v-distance"> 
        <div class="header-on-main flex is-space-between is-items-center">
            <div>
                <h1>Free stuff for developer👇🏽</h1>
                <h2 class="-mt-5">Listed in random order</h2>
            </div>
            <div>
                <a href="/" class="button"> Sort by Newest</a>
            </div>
            <div>
                <a href="#hideMenu" class="button" onclick="document.getElementById('toggleMenu').style.display = 'none';" > hide-menu </a>
            </div>
            <div>
                <a href="#showMenu" class="button" onclick="document.getElementById('toggleMenu').style.display = 'block';" > show-menu </a>
            </div>
             <div>
                <a href="#hideSidebar" class="button" onclick="document.getElementById('hidden').className = '';"> hide-sidebar </a>
            </div>
             <div>
                <a href="#showSidebar" class="button"  onclick="document.getElementById('hidden').className = 'is-two-thirds maincontent';"> show-sidebar </a>
            </div>
        </div>

        {{ partial "search.html" . }}
        <div id="card-list" class="v-distance">
        {{ range where .Site.RegularPages "Type" "stuff" | shuffle}}
                {{ if le .Params.Date.Unix now.Unix }}
                    {{ partial "stuff-cards.html" . }}
                {{ end }}
            {{ end }}
        </div>
    </main>
</div>
</div> <!-- end flex -->


{{ end }}


